SELECT id, container_iso_code, status, listing_id, sold_to_order_id, rented_to_order_id, sold_at, rented_at FROM listing_containers WHERE listing_id IN (SELECT id FROM listings WHERE deal_type = 'RENTAL') ORDER BY created_at DESC LIMIT 20;
